<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BLE_Transcation</display-name>
  <servlet>
    <servlet-name>JerseyServlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.Login.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.Home.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/deposit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalProfile</servlet-name>
    <servlet-class>com.Home.PersonalProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalProfile</servlet-name>
    <url-pattern>/PersonalProfile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransactionTable</servlet-name>
    <servlet-class>com.Home.TransactionTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionTable</servlet-name>
    <url-pattern>/TransactionTable/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountTable</servlet-name>
    <servlet-class>com.Home.AccountTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountTable</servlet-name>
    <url-pattern>/AccountTable/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Login.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>