body{
    background-color:#FFD700;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.BOX{
    background-color: white;
    margin-top: 35%;  
    border-radius:5px;
    font-size: 30px;
    margin-bottom :15%;
    padding: 15%;
}
table{
    border:3px solid darkslategray; 
    padding:5px; 
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
}
tr, td {
    border: 1.5px solid gray;
    text-align: center;
    padding:5px; 
    font-size: 15px;
    font-family: Microsoft JhengHei;
}
th{
    background-color: darkslategray;
    color: white;
    border: 1.5px solid white;
    text-align: center;
    padding:5px; 
    font-size: 15px;
    font-family: Microsoft JhengHei;
}